@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Recursive:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display:grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-family: 'Fraunces', serif;


}
.img-details{
    display: flex;
    flex-direction: row;
    max-width: 46rem;
    background-color: white;
    color:hsl(228, 12%, 48%) ;
    border-radius: 1.5rem;
}
.grid-flow{
    display: grid;
    align-content: start;
    gap: 1rem;
}
/* .grid-flow[data-spacing="large"]{
    gap: 2rem;
} */
.img{
    width: 50%;
    background: url(image-product-desktop.jpg);
    border-radius: 1.2rem 0 0 1.2rem;
    background-position: center;
    background-size:cover;


}
.details{
    width: 50%;
    padding: 3rem;
}
.details-title{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}
.details-header{
    color: black;
}
.details-sub{
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}
.details-price{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.price{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: bold;
}
.premium{
    text-decoration: line-through;
}
.details-button{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    background-color:hsl(158, 36%, 37%);
    border: none;
    padding: 1.2rem;
    border-radius: 1.2rem;
    color: white;
}
.details-button:hover{
    background-color: hsl(159, 21%, 21%);
    cursor:pointer;
}
@media (max-width:500px){

    .img-details{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1fr;
        max-width: 25rem;
        border-radius: 1.2rem;
    }
    .img{
        background: url(image-product-mobile.jpg);
        border-radius: 1.2rem 1.2rem 0 0;
        background-position: center;
        background-size:cover;
        width: auto;
        height: 100%;
    }
    .details{
        height: 100%;
        width: 100%;
        display: grid;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 0 0 1.2rem 1.2rem;
    }
}